
body{
    height: 100%;
    background-image: url(../pictures/back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.main {
    margin-top: 150px;
}

.test-title {
    font-size: 26;
    font-weight: 500;
    margin: 0 110px;
}


.form-group {
    margin: 15px 25px;
}

label {
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
    size: 900;
}

/* input */
.input-group {
    width: 300px;
}

.main-login {
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 500px;
    padding: 40px 60px 20px 40px;
}

.btn {
    margin-top: 30px;
    width: 70px;
    background-color: #fff;
}

.button {
    position:relative;
    left: 255px;
}

.variant{
    margin: 20px 10px 10px;
    width: 300px;
    height: 50px;
}
